BasedOnStyle: Google
ColumnLimit: 112          # Calibrated by Dima&Alex for GitHub-based code reviews in 2014.
BinPackParameters: false  # Allow either all parameters on one line or one parameter per line, no packing.

# TODO(dkorolev): Looks like it's worth reverting to default. Send Alex a pull request once this one is merged.
AllowShortFunctionsOnASingleLine: false
