.noshit

core
*.h.gch
.exrc

*.swp

coverage.info
*.gcov
*.gcda
*.gcno

everything  # The binary in zzz_full_test/
coverage    # The directory in zzz_full_test/

# Microsoft Visual Studio files.

*.suo
*.sdf
*.opensdf
*.filters

Debug
Release
