.noshit

core
*.h.gch
.exrc

*.swp

coverage.info
*.gcov
*.gcda
*.gcno

# Just `.gitignore`-ing full paths does not work; this syntax seems to do it -- D.K.
everything
zzz_full_test/everything
coverage
zzz_full_test/coverage

# Microsoft Visual Studio files.
*.suo
*.sdf
*.opensdf
*.filters
*.user
Debug
Release
x64